@import '../../mixins';

.stage-message {
	// visibility: hidden;
	box-sizing: border-box;
	@include classic-colors;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	max-height: 100%;
	overflow-y: auto;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 2px solid #707070;

	@media screen and (max-width: 600px) {
		font-size: 16px;
	}
}