.novel-decisions {
	visibility: hidden;
	border-top: 2px solid rgba(0, 139, 139, 0.25);
	border-bottom: 2px solid rgba(0, 139, 139, 0.25);
	background-color: rgba(0, 139, 139, 0.5);
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	transition: 500ms;
}


.novel-decision-radio {
	cursor: pointer;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	cursor: default;

	& [type='radio'] {
		display: none;
	}
	
	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}

	&:active {
		background-color: rgba(230, 230, 230, 0.5);
	}

	&:hover .novel-decision-info {
		color: black;
		text-shadow: none;
	}
}

.novel-decision-info {
	text-shadow: 0 0 2px #000000;
	font-size: 20px;
	font-weight: bold;
	color: white;
	@media screen and (max-width: 600px) {
		font-size: 16px;
	}
}