@import '../../mixins';

.novel-conversation {
	@include classic-colors;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	padding: 10px;
	border-width: 2px 2px 0px;
	border-color: #707070;
	border-style: solid;
	overflow-y: scroll;
}

.novel-conversation-line {
	text-align: justify;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	@media screen and (max-width: 600px) {
		font-size: 16px;
	}
}