@import '../../mixins';

.novel-container {
	background-color: white;
	width: 100%;
	// width: 600px;
	height: auto;
	display: inherit;
	flex-wrap: inherit;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: hidden;

	@media screen and (max-width: 600px) {
		padding: 10px;
		width: 100%;
	}
}

.stage {
	background-image: url('https://cdn5.f-cdn.com/contestentries/1766305/45851855/5eae1233c4b64_thumb900.jpg');
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	background-color: wheat;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
	@media screen and (max-width: 600px) {
		height: 300px;
	}
}

.stage-character {
	// background-color: blue;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	justify-content: center;
	padding: 20px 20px 0px 20px;
	box-sizing: border-box;
	& img {
		height: 100%;
		// max-width: 500px;
	}
}

.stage-character-name {
	// visibility: hidden;
	@include classic-colors;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	left: 0;
	bottom: 0;
	border: 2px #707070;
	border-style: solid solid none;
	z-index: 2;
	border-top-right-radius: 10px;

	@media screen and (max-width: 600px) {
		font-size: 18px;
	}
}