@import "../../mixins.scss";

.main {
	padding: 0px 20px;
	background-color: #dfc0da;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media screen and (max-width: 600px) {
		padding: 0px 10px;
	}
}

.novel-title {
	@include classic-colors;

	width: 100%;
	height: auto;
	
	font-weight: bold;
	font-size: 26px;

	padding: 10px;
	border: 2px #707070;
	border-style: solid none solid none;
	margin-top: 10px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.novel-container {
	background-color: white;
	width: 100%;
	display: inherit;
	flex-wrap: inherit;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: hidden;

	@media screen and (max-width: 600px) {
		padding: 10px;
	}
}

.novel-decisions {
	visibility: hidden;
	border-top: 2px solid rgba(0, 139, 139, 0.25);
	border-bottom: 2px solid rgba(0, 139, 139, 0.25);
	background-color: rgba(0, 139, 139, 0.5);
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	transition: 500ms;
}


.novel-decision-radio {
	cursor: pointer;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	cursor: default;

	& [type='radio'] {
		display: none;
	}
	
	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}

	&:active {
		background-color: rgba(230, 230, 230, 0.5);
	}

	&:hover .novel-decision-info {
		color: black;
		text-shadow: none;
	}
}

.novel-decision-info {
	text-shadow: 0 0 2px #000000;
	font-size: 20px;
	font-weight: bold;
	color: white;
	@media screen and (max-width: 600px) {
		font-size: 16px;
	}
}

.novel-conversation {
	@include classic-colors;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	padding: 10px;
	border-width: 2px 2px 0px;
	border-color: #707070;
	border-style: solid;
	overflow-y: scroll;
}

.novel-conversation-line {
	text-align: justify;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	@media screen and (max-width: 600px) {
		font-size: 16px;
	}
}

.novel-options {
	width: 100%;
	padding: 10px;
	border: 2px #707070;
	border-style: solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.novel-options-button {
	background-color: black;
	color: white;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	outline: none;
	transition: 500ms;
	cursor: pointer;
	border: none;
	cursor: default;

	border-bottom: 2px white solid;

	&:hover {
		background-color: #707070;
	}

	@media screen and (max-width: 600px) {
		&:nth-child(1) {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		&:last-child {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom: none;
		}
	}
}
