@import "../mixins";

.header {
	@include flex-centered;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	background-color: #000000;
	color: white;
	padding: 10px 20px;
}

.header h1 {
	margin: 0;
}