.list-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: crimson;
}

.list {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item {
    list-style: none;
}

.link {
    display: block;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;

    margin: 10px;
    padding: 10px 20px;

    width: auto;
    height: auto;

    &:hover {
        background-color: #ccc;
    }
}